/* Defaults */
/*------------------------------------------------------------------------*\
    Code Section        : Reset
\*------------------------------------------------------------------------*/
/* HTML5 Doctor CSS Reset (http: //html5doctor.com/html-5-reset-stylesheet/) */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*------------------------------------------------------------------------*\
	Code Section		: Grid
\*------------------------------------------------------------------------*/
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  width: 1020px;
}
.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.lt-ie9 .row {
  height: 1%;
}
@media (max-width: 1024px) {
  .row {
    width: 100%;
  }
}
.row .columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
  float: left;
  margin: 0 1% 20px;
  width: 98%;
}
.row .columns.panel {
  padding: 20px;
}
.row .columns.centered {
  float: none;
  margin: 0 auto 20px;
}
.row .columns.empty {
  margin: 0 1%;
}
.row .columns.col-1 {
  width: 7.33%;
}
@media (max-width: 480px) {
  .row .columns.col-1 {
    float: none;
    width: 98%;
  }
}
.row .columns.col-2 {
  width: 14.66%;
}
@media (max-width: 767px) {
  .row .columns.col-2 {
    margin: 0 1% 10px;
    width: 31.33%;
  }
}
@media (max-width: 480px) {
  .row .columns.col-2 {
    margin: 0 1% 5px;
    width: 48%;
  }
}
.row .columns.col-3 {
  width: 23%;
}
@media (max-width: 767px) {
  .row .columns.col-3 {
    margin: 0 1% 10px;
    width: 48%;
  }
}
@media (max-width: 480px) {
  .row .columns.col-3 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-4 {
  width: 31.33%;
}
@media (max-width: 767px) {
  .row .columns.col-4 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-5 {
  width: 40.16%;
}
@media (max-width: 767px) {
  .row .columns.col-5 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-6 {
  width: 48%;
}
@media (max-width: 767px) {
  .row .columns.col-6 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-7 {
  width: 55.84%;
}
@media (max-width: 767px) {
  .row .columns.col-7 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-8 {
  width: 64.66%;
}
@media (max-width: 767px) {
  .row .columns.col-8 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-9 {
  width: 73%;
}
@media (max-width: 767px) {
  .row .columns.col-9 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-10 {
  width: 81.34%;
}
@media (max-width: 767px) {
  .row .columns.col-10 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row .columns.col-12 {
  float: none;
}
@media (max-width: 767px) {
  .row .columns.col-12 {
    margin: 0 1% 10px;
    width: 98%;
  }
}
.row.left-sidebar .columns {
  float: right;
}
.row.left-sidebar .columns.col-4 {
  margin: 0 2% 20px 1%;
}
.row.left-sidebar .columns.col-8 {
  margin: 0 1% 20px 2%;
}
/*------------------------------------------------------------------------*\
	Code Section		: Mixins
\*------------------------------------------------------------------------*/
/* Font */
/*------------------------------------------------------------------------*\
	Code Section		: Style Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Layout Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: CSS3 Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Variables
\*------------------------------------------------------------------------*/
/* Media Queries */
/* Background Colours */
/* Default Colours */
/* Theme Colours*/
/* Alert Colours */
/* Social Media Colours */
/*------------------------------------------------------------------------*\
	Code Section		: Font Awesome	
\*------------------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url('icons/fontawesome-webfont.eot?v=4.1.0');
  src: url('icons/fontawesome-webfont.eot?#iefix&?v=4.1.0') format('embedded-opentype'), url('icons/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('icons/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('icons/fontawesome-webfont.svg#fontawesomeregular?v=4.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------------------------------------*\
	Code Section		: Montserrat
\*------------------------------------------------------------------------*/
@font-face {
  font-family: 'montserratregular';
  src: url('type/Montserrat-Regular-webfont.eot');
  src: url('type/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/Montserrat-Regular-webfont.woff2') format('woff2'), url('type/Montserrat-Regular-webfont.woff') format('woff'), url('type/Montserrat-Regular-webfont.ttf') format('truetype'), url('type/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url('type/Montserrat-Bold-webfont.eot');
  src: url('type/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('type/Montserrat-Bold-webfont.woff2') format('woff2'), url('type/Montserrat-Bold-webfont.woff') format('woff'), url('type/Montserrat-Bold-webfont.ttf') format('truetype'), url('type/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------------------------------------*\
	Code Section		: Default	
\*------------------------------------------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
}
html {
  overflow: scroll;
}
body {
  font-family: 'Georgia', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: white;
  overflow: hidden;
}
body .font-icon,
body .tooltipster-icon {
  font-family: 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row {
  font-size: 16px;
  line-height: 24px;
  word-spacing: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.row h1,
.row h2,
.row h3,
.row h4,
.row h5,
.row h6 {
  font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row a {
  color: inherit;
}
/* Elements */
/*------------------------------------------------------------------------*\
	Code Section		: Header
\*------------------------------------------------------------------------*/
header {
  background: #1e282d;
  padding: 60px 0;
  text-align: center;
}
header .row .logo {
  height: 144px;
  margin: 0 auto 40px;
  width: 144px;
}
header .row .logo img {
  -webkit-border-radius: 144px;
  -moz-border-radius: 144px;
  border-radius: 144px;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.lt-ie8 header .row .logo img {
  display: inline;
  zoom: 1;
}
header .row h1 {
  color: #ec594e;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 40px;
  text-transform: uppercase;
}
header .row h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 40px;
}
header .row p {
  color: #cfd8dc;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  padding: 0 80px;
}
header .row p a:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  header .row p {
    padding: 0;
  }
}
/*------------------------------------------------------------------------*\
	Code Section		: Footer
\*------------------------------------------------------------------------*/
footer {
  background: #263238;
  padding: 40px 20px;
}
footer .row {
  color: #CFD8DC;
}
/*------------------------------------------------------------------------*\
	Code Section		: Social Media
\*------------------------------------------------------------------------*/
/* Sections */
/*------------------------------------------------------------------------*\
	Code Section		: Featured Work
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Beef Clients
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Think Digital Clients
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Skills
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Experience
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Testimonials
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Education
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Interests
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Contact
\*------------------------------------------------------------------------*/
section#contact {
  background: #ec594e;
  padding: 40px 20px;
}
section#contact .row {
  color: #ffffff;
}
/* Print */
/*------------------------------------------------------------------------*\
	Code Section		: Print
\*------------------------------------------------------------------------*/
@media print {
  body {
    background: #ffffff;
    color: #000000;
  }
}
