/* Defaults */
/*------------------------------------------------------------------------*\
    Code Section        : Reset
\*------------------------------------------------------------------------*/
/* HTML5 Doctor CSS Reset (http: //html5doctor.com/html-5-reset-stylesheet/) */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*------------------------------------------------------------------------*\
	Code Section		: Grid
\*------------------------------------------------------------------------*/
#header,
#main,
#footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 1020px;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.lt-ie9 #header,
.lt-ie9 #main,
.lt-ie9 #footer {
  height: 1%;
}
@media (max-width: 1024px) {
  #header,
  #main,
  #footer {
    width: 100%;
  }
}
.columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
  float: left;
  margin: 0 1% 20px;
  width: 98%;
}
.columns.panel {
  padding: 20px;
}
.columns.centered {
  float: none;
  margin: 0 auto 20px;
}
.columns.empty {
  margin: 0 1%;
}
.columns.col-1 {
  width: 7.33%;
}
@media (max-width: 480px) {
  .columns.col-1 {
    float: none;
    width: 98%;
  }
}
.columns.col-2 {
  width: 14.66%;
}
@media (max-width: 767px) {
  .columns.col-2 {
    margin: 0 1% 10px;
    width: 31.33%;
  }
}
@media (max-width: 480px) {
  .columns.col-2 {
    margin: 0 1% 5px;
    width: 48%;
  }
}
.columns.col-3 {
  width: 23%;
}
@media (max-width: 767px) {
  .columns.col-3 {
    margin: 0 1% 10px;
    width: 48%;
  }
}
@media (max-width: 480px) {
  .columns.col-3 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-4 {
  width: 31.33%;
}
@media (max-width: 767px) {
  .columns.col-4 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-5 {
  width: 40.16%;
}
@media (max-width: 767px) {
  .columns.col-5 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-6 {
  width: 48%;
}
@media (max-width: 767px) {
  .columns.col-6 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-7 {
  width: 55.84%;
}
@media (max-width: 767px) {
  .columns.col-7 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-8 {
  width: 64.66%;
}
@media (max-width: 767px) {
  .columns.col-8 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-9 {
  width: 73%;
}
@media (max-width: 767px) {
  .columns.col-9 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-10 {
  width: 81.34%;
}
@media (max-width: 767px) {
  .columns.col-10 {
    float: none;
    margin: 0 1% 10px;
    width: 98%;
  }
}
.columns.col-12 {
  float: none;
}
@media (max-width: 767px) {
  .columns.col-12 {
    margin: 0 1% 10px;
    width: 98%;
  }
}
/*------------------------------------------------------------------------*\
	Code Section		: Style Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Layout Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: CSS3 Mixins
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Variables
\*------------------------------------------------------------------------*/
/* Media Queries */
/* Background Colours */
/* Default Colours */
/* Theme Colours*/
/* Alert Colours */
/* Social Media Colours */
/*------------------------------------------------------------------------*\
	Code Section		: Montserrat
\*------------------------------------------------------------------------*/
@font-face {
  font-family: 'montserratregular';
  src: url('type/Montserrat-Regular-webfont.eot');
  src: url('type/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/Montserrat-Regular-webfont.woff2') format('woff2'), url('type/Montserrat-Regular-webfont.woff') format('woff'), url('type/Montserrat-Regular-webfont.ttf') format('truetype'), url('type/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url('type/Montserrat-Bold-webfont.eot');
  src: url('type/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('type/Montserrat-Bold-webfont.woff2') format('woff2'), url('type/Montserrat-Bold-webfont.woff') format('woff'), url('type/Montserrat-Bold-webfont.ttf') format('truetype'), url('type/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------------------------------------*\
	Code Section		: Default	
\*------------------------------------------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/hack/boxsizing.htc);
}
html {
  overflow: scroll;
}
body {
  background: #f6f7f8;
  color: #607d8b;
  font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  word-spacing: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #263238;
  font-weight: normal;
  font-family: 'montserratbold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle {
  color: #b0bec5;
}
body img {
  border: none;
  height: auto;
  max-width: 100%;
}
body a {
  color: inherit;
}
body a:hover {
  color: #36474f;
}
/* Elements */
/*------------------------------------------------------------------------*\
	Code Section		: Header
\*------------------------------------------------------------------------*/
#header {
  background: #ffffff;
  padding: 20px 40px;
}
@media (max-width: 767px) {
  #header {
    padding: 20px 0;
  }
}
#header .logo {
  float: left;
}
#header .logo a {
  background: url(../images/avatar.jpg) no-repeat;
  background-size: 100% 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 48px;
  width: 48px;
}
.gt-ie9 #header .logo a,
.lt-ie10 #header .logo a {
  display: block;
  line-height: 0;
  overflow: hidden;
  text-align: left;
  text-indent: -1000em;
}
@media (max-width: 767px) {
  #header .logo {
    margin: 0 40px;
  }
}
#header .toggle {
  cursor: pointer;
  float: right;
  margin: 12px 0;
  padding: 10px 35px 16px 0px;
  position: relative;
}
#header .toggle span,
#header .toggle span:before,
#header .toggle span:after {
  background: #607d8b;
  border-radius: 1px;
  content: '';
  cursor: pointer;
  display: block;
  height: 5px;
  position: absolute;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  width: 35px;
}
#header .toggle span:before {
  top: -10px;
}
#header .toggle span:after {
  bottom: -10px;
}
#header .toggle.active span {
  background-color: transparent;
}
#header .toggle.active span:before,
#header .toggle.active span:after {
  top: 0;
}
#header .toggle.active span:before {
  transform: rotate(45deg);
}
#header .toggle.active span:after {
  transform: rotate(-45deg);
}
@media (min-width: 767px) {
  #header .toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .toggle {
    margin: 12px 40px 0;
  }
}
#header .nav-list {
  display: block;
  float: right;
  margin: 16px 0 0;
}
#header .nav-list li {
  float: left;
  padding: 0 20px;
  line-height: 16px;
}
#header .nav-list li:last-child {
  padding-right: 0;
}
#header .nav-list li a {
  display: block;
  text-decoration: none;
}
@media (min-width: 767px) {
  #header .nav-list li.divider {
    border-left: 1px solid #f6f7f8;
  }
  #header .nav-list li .button {
    display: block;
    background: #f6f7f8;
    padding: 12px 40px;
    margin: -12px;
  }
  #header .nav-list li .button:hover {
    background: #e8eaed;
  }
}
@media (max-width: 767px) {
  #header .nav-list {
    clear: both;
    display: none;
    float: none;
    margin: 0;
    position: relative;
    top: 25px;
    width: 100%;
  }
  #header .nav-list li {
    border-bottom: 1px solid #ffffff;
    float: left;
    padding: 0;
    width: 50%;
  }
  #header .nav-list li a {
    background: #f6f7f8;
    padding: 15px 40px;
  }
  #header .nav-list li a:hover {
    background: #e8eaed;
  }
  #header .nav-list li:nth-child(odd) {
    border-right: 1px solid #ffffff;
  }
  #header .nav-list li:nth-last-child(1),
  #header .nav-list li:nth-last-child(2) {
    border-bottom: none;
  }
}
@media (max-width: 480px) {
  #header .nav-list li {
    float: none;
    width: 100%;
  }
  #header .nav-list li:nth-last-child(2) {
    border-bottom: 1px solid #ffffff;
  }
}
/*------------------------------------------------------------------------*\
	Code Section		: Footer
\*------------------------------------------------------------------------*/
#footer {
  background: #ffffff;
  padding: 25px 40px;
}
#footer .columns.col-6 {
  float: right;
  width: 49%;
}
#footer .columns.col-6:first-child {
  margin-right: 0;
}
#footer .columns.col-6:last-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  #footer .columns.col-6 {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
  #footer .columns.col-6:last-child {
    margin: 0;
  }
}
/*------------------------------------------------------------------------*\
	Code Section		: Social Media
\*------------------------------------------------------------------------*/
/* Sections */
/*------------------------------------------------------------------------*\
	Code Section		: Banner
\*------------------------------------------------------------------------*/
#banner {
  background: #000000;
  height: 380px;
  line-height: 380px;
  padding: 0 40px;
  text-align: center;
  width: 100%;
}
@media (max-width: 480px) {
  #banner {
    padding: 0 80px;
  }
}
@media (max-width: 480px) {
  #banner {
    height: auto;
    line-height: 24px;
    padding: 60px 40px;
  }
}
#banner article {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.lt-ie8 #banner article {
  display: inline;
  zoom: 1;
}
#banner article h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 12px;
}
#banner article h3 {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}
#banner article .button {
  color: #263238;
  display: inline-block;
  background: #f6f7f8;
  padding: 15px 40px;
  text-decoration: none;
}
.lt-ie8 #banner article .button {
  display: inline;
  zoom: 1;
}
#banner article .button:hover {
  background: #e8eaed;
}
/*------------------------------------------------------------------------*\
	Code Section		: Clients
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Featured Project
\*------------------------------------------------------------------------*/
#selected-work {
  background: #ffffff;
  padding: 25px 40px;
}
/*------------------------------------------------------------------------*\
	Code Section		: Interests
\*------------------------------------------------------------------------*/
#interests {
  background: #ffffff;
  padding: 60px 40px 12px;
  position: relative;
  text-align: center;
  z-index: 2;
}
#interests h2 {
  font-size: 24px;
  margin: 0 0 48px;
}
#interests .interest-list:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.lt-ie9 #interests .interest-list {
  height: 1%;
}
#interests .interest-list .interest {
  float: left;
  margin: 0 0 48px;
  position: relative;
  width: 25%;
}
#interests .interest-list .interest .icon {
  background: #f6f7f8;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  border-radius: 64px;
  display: inline-block;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  margin: 0 0 18px;
  width: 64px;
}
.lt-ie8 #interests .interest-list .interest .icon {
  display: inline;
  zoom: 1;
}
#interests .interest-list .interest h3 {
  color: #607d8b;
  font-family: 'montserratregular';
}
#interests .interest-list .interest .popup {
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #e8eaed;
  margin: 20px auto 0;
  padding: 12px 20px;
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
#interests .interest-list .interest .popup:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 46%;
  width: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: #e8eaed transparent;
}
#interests .interest-list .interest:hover {
  cursor: pointer;
}
#interests .interest-list .interest:hover .popup {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
}
/*------------------------------------------------------------------------*\
	Code Section		: Profile
\*------------------------------------------------------------------------*/
#profile {
  background: #ffffff;
  padding: 60px 80px;
  text-align: center;
}
#profile p {
  margin: 0 0 24px;
}
#profile p.main {
  font-family: 'montserratbold';
  font-size: 18px;
}
/*------------------------------------------------------------------------*\
	Code Section		: Projects
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Skills
\*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*\
	Code Section		: Timeline
\*------------------------------------------------------------------------*/
/* Print */
/*------------------------------------------------------------------------*\
	Code Section		: Print
\*------------------------------------------------------------------------*/
@media print {
  body {
    background: #ffffff;
    color: #000000;
  }
}
