/*------------------------------------------------------------------------*\
	Code Section		: Default	
\*------------------------------------------------------------------------*/ 

*, ::before, ::after {
	.box-sizing;
}

html {
	overflow: scroll;
}
		
body {
	font-family: 'Georgia', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	background: white;
	overflow: hidden;
	
	.font-icon, .tooltipster-icon { 
		.font-awesome();
	}
	
}

.row {
	font-size: 16px;
	line-height: 24px;
	word-spacing: auto;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility; 

	h1, h2, h3, h4, h5, h6 {
		font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	}

	a {
		color: inherit;
	}

}